#sidebar {
	position: relative;
	padding-top: 22px;

	background-color: $blue_primary;
}

#projectList {
	position: relative;

	height: 40%;
	min-height: 40%;
	width: 100%;
	min-width: 100%;

	font-size: 0.8rem;

	a {
		color: $purple_primary;

		&.active {
			color: $white_primary;
		}
	}
}